*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #555;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contianer{
    position: relative;
    width: 800px;
    height: 500px;
    background: #302c2c;
}

.clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.clip1 {
    background: url(https://images.unsplash.com/photo-1509565840034-3c385bbe6451?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 46% 0, 39% 100%, 0% 100%);
}

.clip2 {
    background: url(https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?q=80&w=1579&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    clip-path: polygon(19% 0%, 87% 0, 64% 100%, 33% 100%);
}


.clip3 {
    background: url(https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    clip-path: polygon(82% 0%, 100% 0, 100% 100%, 63% 100%);

}


.contianer:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.contianer .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}