*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(55, 58, 61);
    font-family: sans-serif;
}
.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


a:active{
    filter: brightness(80%);
}